.about-container {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  .about-title{
    @include title('../../assets/about-two.png');
    margin: 5% 0 7% 0 ;
  }
  .interests-title{
    @include title('../../assets/excites-one.png');
  }
  .proud-title {
    @include title('../../assets/proud-three.png');
  }
  .travel{
    margin-bottom: 10%;
  }
  h3 {
    margin: 0;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h6{
    font-size: 20px;
    margin: 8%;
  }
  .block {
    text-align: center;
    width: 80vw;
    height: 300px;
    margin: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .hero{
    height: 80vh;
    .about-photo{
      @include bg('../../../public/mandala.jpg');
      width: 55%;
      height: 100%;
      margin: 1%;
      .about-hero-text{
        display: flex;
        align-items: center;
      }
    }
  }
    .contact-buttons{
      width: 100%;
      margin: 20px;
      display: flex;
      justify-content: center;
      a{
        margin: 15px;
        background-color: transparent;
        height: 5vh;
        width: 38px;
        border: none;
        border-radius: 5px
      }
      .linked-in{
        @include bg('../../assets/linked-in.png');
      }
      .email{
        @include bg('../../assets/email.png')
      }
      .github{
        @include bg('../../assets/github.png')
      }
      .bandcamp{
        @include bg('../../assets/bandcamp.png');
        height: 38px;
      }
    }
  .text{
    width: 50%;
  }
  .brand-statement{
    @include about-bg;
    animation: brandTransition 25s infinite;
  }
  .about-subtitle{
    margin: 8% 0 0 0;
  }
  .interests{
    @include about-bg;
    animation: interestsTransition 25s infinite;
    margin: 0 0 0 -5%;
  }
  .interests-text {
    margin: 0 0 0 5%;
  }
  .proud-of{
    @include about-bg;
    animation: proudOfTransition 25s infinite;
    margin-bottom: 1%;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

@keyframes brandTransition {
  0% {
    background-image: url('../../assets/about-one.png');
  }
  33% {
    background-image: url('../../assets/about-two.png');
  }
  66% {
    background-image: url('../../assets/about-three.png');
  }
  100% {
    background-image: url('../../assets/about-one.png');
  }
}
@keyframes interestsTransition {
  0% {
    background-image: url('../../assets/excites-one.png');
  }
  33% {
    background-image: url('../../assets/excites-two.png');
  }
  66% {
    background-image: url('../../assets/excites-three.png');
  }

  100% {
    background-image: url('../../assets/excites-one.png');
  }
}
@keyframes proudOfTransition {
  0% {
    background-image: url('../../assets/proud-one.png');
  }
  33% {
    background-image: url('../../assets/proud-two.png');
  }
  66% {
    background-image: url('../../assets/proud-three.png');
  }

  100% {
    background-image: url('../../assets/proud-one.png');
  }
}


@media only screen and (max-width: 1100px) {
  .about-container{
    .hero{
      .about-photo{
        margin-top: 25%;
        width: 60%;
        height: 50vh;
      }
      .about-hero-text{
        margin: 2%;
      }
    }
    .title {
      h3{
        font-size: 20px;
        height: 20px;
      }
    }
    .block {
      text-align: center;
      width: 80vw;
      height: 100%;
      flex-wrap: wrap;
      margin: 0 3% 10% 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .image{
        width: 80vw;
        height: 33vh;
      }
      .interests-text{
        margin: 0;
      }
      .text {
        width: 80vw;
      }
      }
  }
  }

  @media only screen and (max-width: 1100px) and (min-width: 1000px){
    .about-container{
      .hero{
        .about-photo{
            height: 60vh;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .about-container{
      .hero{
        .about-photo{
            height: 40vh;
            width: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) and (min-width: 1100px) {
    .about-container{
      .hero{
        .about-photo{
          width: 55%;
          margin-top: 50px;
        }
      }
      .block{
        width: 95vw;
        margin: 200px;
      }
      .image{
        width: 100vw;
      }
    }
  }