.landing-container {
  margin: 2% 5%;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;

  .photo {
    margin-left: 5%;
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: row;

    .landing-image {
      @include bg('../../assets/potential.png');
      border-radius: 5px;
      height: 100%;
      width: 50%;
      opacity: 0;
      animation: appear 2s ease forwards;
      animation-delay: 2s;
    }

    p {
      opacity: 0;
    }

    .hi {
      animation: appear 3s ease forwards;
      margin-left: 1%;
    }

    .welcome {
      animation: appear 3s ease forwards;
      animation-delay: 4s;
      display: flex;
      align-items: center;
    }
  }

  .flower {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;

    .bg {
      @include bg('../../assets/flower-bg.png');
      height: 100%;
      transform: rotateY(180deg);
      width: 90%;
      height: 110%;
      opacity: 0;
      animation: appear 2s ease forwards;
      animation-delay: 5.5s;
    }


    .fg {
      @include bg('../../assets/flower-fg.png');
      position: absolute;
      background-position: bottom;
      height: 90%;
      width: 30%;
      opacity: 0;
      animation: appear 4.5s ease forwards;
      animation-delay: 6s;
    }


    .buttons {
      position: absolute;

      .about {
        @include landing-buttons(363px, -175px, 2s, 7s);
        width: 65px;
        @include bg('../../assets/petal.png');
      }

      .projects {
        @include landing-buttons(328px, 74px, 1s, 7s);
        @include bg('../../assets/petal-one.png');
      }

      .skills {
        @include landing-buttons(166px, -150px, 1.5s, 7s);
        @include bg('../../assets/petal-two.png');
        width: 90px;

      }

      .archive {
        @include bg('../../assets/petal-three.png');
        @include landing-buttons(202px, 80px, 2.5s, 7s);
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}

@media only screen and (max-width: 900px) {
  .landing-container {
    flex-direction: column;
    .photo{
      width: 100%;
      .welcome{
        align-items: flex-end;
      }
    }
    .flower {
      margin-top: 10%;
      width: 100vw;
      height: 80vh;

      .fg {
        height: 55vh;
        width: 71%;
      }

      .buttons {

        .about {
          bottom: 12rem;
          left: -7.5rem;
        }

        .projects {
          bottom: 11rem;
          left: 2rem;
        }

        .skills {
          bottom: 5rem;
          left: -7rem;
        }

        .archive {
          bottom: 6.5rem;
          left: 3rem;
        }
      }
    }
  }
  .footer{
    font-size: 10px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .landing-container{
    .photo{
      height: 50vh;
      margin-bottom: 0;
    }
    .flower{
      margin-top: 0;
      .fg{
        width: 60%;
      }
      .bg{
        height: 60vh;
      }
      .buttons{
        .projects{
          bottom: 17rem;
          left: 4rem
        }
        .about{
          bottom: 19rem;
          left: -9rem;
        }
        .archive{
          bottom: 10rem;
          left: 4rem;
        }
        .skills{
          bottom: 8rem;
        }
      }

    }
  }
}