* {
  box-sizing: border-box;
  font-family: 'Hind Madurai', sans-serif;
}
h3 {
  font-family: 'Eczar', serif;
}
h6 {
  font-family: 'Philosopher', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=Hind+Madurai:wght@500&family=Kanit&family=Philosopher:wght@700&family=Space+Mono:ital,wght@1,700&display=swap');
@import './mixins.scss';
@import './components/projects.scss';
@import './components/about.scss';
@import './components/skills.scss';
@import './components/navbar.scss';
@import './components/landing.scss';
@import './components/footer.scss';
@import './components/archive.scss';