@mixin project-tile($size) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $size;
  height: 100%;
  margin: 5px;
  .tile{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .link-container{
      margin: 0 0 0 5px;
      display: flex;
      border: none;
      justify-content: flex-end;
    .link{
        background-color: rgba(143, 248, 173, 0.799);
        color: rgb(77, 208, 90);
        text-decoration: none;
        border-radius: 5px;
        padding: 3px;
        margin: 3px;
        font-size: 15px;
      }
    }
    img {
      display: block;
      width: 90%;
      margin: 5% auto 0 auto;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid rgba(141, 140, 140, 0.792);
    }
    div{
      border: 1px solid rgba(141, 140, 140, 0.792);
      border-radius: 5px;
      width: 90%;
      padding-left: 10px;
      margin-top: 2%;
    }

  }
  .tech-container{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    .tech {
      border-radius: 5px;
      padding: 3px;
      margin: 3px;
      font-size: 15px;
      background-color: rgb(198 241 245 / 63%);
      color: rgb(116 207 216)
    }
  }
}

@mixin about-bg {
  margin: 0 -12% 0 1px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 800px;
  height: 500px;
  animation: brandTransition 25s infinite;
}

@mixin bg($url) {
  background-image: url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin landing-buttons($y,$x, $ease, $delay) {
  opacity: 0;
  border: none;
  border-radius: 100px;
  height: 65px;
  cursor: pointer;
  bottom: $y;
  left: $x;
  position: absolute;
  animation: appear $ease ease forwards;
  animation-delay: $delay;
  background-color: transparent;
  
}

@mixin title($url) {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0)), url($url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  margin: 10% 0 8% 0 ;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  h3{
    opacity: 1;
  }
}